.pagina{
    background-color: #ebecec;
}

.navbar{
    height: 100px;
}

.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: end;
}

.informacoes-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.form-control{
    border: solid 1px #dc3545;
}

.botoes-nav{
    padding: 10px;
    font-weight: 600;
    margin-right: 30px;
}

.navbar::after{
    content: "";
    background-color: #dc3545;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 100px;
}

.offcanvas-top{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 8px 8px;
    height: 250px !important;
}

.input-group-login{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.offcanvas-login, .offcanvas-criar-conta{
    top: 15%;
    bottom: 15%;
    left: 10%;
    width: 80%;
    height: 450px;
    border-radius: 5px;
}

.offcanvas-title-login{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.botoes-login{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 50px;
}

.btn-login{
    padding: 10px;
    font-size: 20px;
}

.icon-senha{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: start !important;
    gap: 30px;
}

i{
    font-size: 20px !important;
    cursor: pointer;
}

.input-group{
    margin-top: 30px;
    border-radius: 5px !important;
}

#aviso{
    margin-top: 10px;
}


.conteudo-previsoes{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.lista-recomendacao{
    width: 400px;
    padding: 30px;
    --bs-border-opacity: .3;
    max-height: 650px;
    overflow-y: auto;
}


.item-recomendacao{
    padding: 20px;
    margin-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.botoes-recomendacao{
    flex-direction: row;
}

#sem-recomendacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.botoes-grafico{
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
    width: 70%;
    height:650px;
    margin-left: 50px;
    padding: 10px;
    align-items:start;
    justify-content: space-around;
    border: solid 2px #dc3545;
    border-radius: 8px;
}

.botao-grafico{
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}

.selecionado{
    background-color: #dc3545;
    color: #ebecec;
}

.graficos{
    position: absolute;
    top: 300px;
    left: 650px;
    width: 60%;
}

.grafico{
    display: none;
    height: 25% !important;
    width: 85% !important;
}


.botao-ia, .botao-informacao{
    padding: 15px;
    font-size: 20px;
}


.propriedades{
    position: absolute;
    margin-left: 47%;
    margin-top: 50px;
    font-style: italic;
    bottom: 30px;
}

#offcanvasRight{
    width: 600px;
}

.pergunta{
    position: absolute;
    margin-left: 85%;
    margin-top: 50px;
}

.recomendacao{
    position: absolute;
    margin-left: 10%;
    margin-top: 50px;
}

.resposta-ia{
    margin-top: 30px;
}

#loading-pergunta{
    display: none;
    margin-top: 20px;
    margin-left: 5px;
}

.conjunto-recomendacao{
    display: flex;
    margin-top: 30px;
    gap: 200px;
    flex-direction: row;
}

.offcanvas-bottom{
    top: 0;
    height: 100dvh !important;
    transition: 1s !important;
}


@media (max-width:1280px) {
    .graficos{
        left:550px;
        top: 400px;
    }
    .inversor{
        bottom: 0;
    }
}
@media (max-width:1400px) {
    .conteudo-previsoes{
        margin-left: 10px;
    }
    #lista-recomendacao{
        margin-left: -50;
    }
    .botoes-grafico{
        gap: 15px;
        margin-left: 30px;
    }
    .botao-grafico{
        padding: 7px;
    }
    .recomendacao, .pergunta{
        margin-top: 20px;
    }
}